.professionsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  gap: 2rem;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 200;
  }
  .professions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    .profession {
      position: relative; /* Ensure the pseudo-element positions correctly */
      width: 24%;
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 2rem;
      background-color: #cccccc9c;
      gap: 20px;
      img {
        animation-name: professionPic;
        animation-duration: 2.5s;
      }
      &-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        h4 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 200;
          font-size: 1.8rem;
          text-align: center;
          animation-name: headingProfession;
          animation-duration: 2s;
        }
        button {
          width: 100%;
          font-family: 'Montserrat', sans-serif;
          font-weight: 100;
          font-size: 1rem;
          text-align: center;
          color: white;
          background-color: black;
          padding: 0.4rem 0;
          border-radius: 1rem;
          cursor: pointer;
          animation-name: professionButton;
          animation-duration: 2.6s;
        }
      }
      /* Pseudo-element for background image with opacity */
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 4%;
        width: 20%;
        height: 20%;
        background: url('../../../assets/icons/logo.png') no-repeat center center;
        background-size: 80%;
        opacity: 0.5;
      }

      img {
        width: 80% !important;
        position: relative;
        z-index: 1;
      }
    }
  }
  @keyframes headingProfession {
    from {
      opacity: 0;
      transform: translate3d(60%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0%, 0);
    }
  }

  @keyframes professionPic {
    from {
      opacity: 0;
      transform: translate3d(-60%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0%, 0);
    }
  }

  @keyframes professionButton {
    from {
      opacity: 0;
      transform: translate3d(0%, 0%, -10%);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0%, 0);
    }
  }
}

@media screen and (max-width: 1200px) {
  .profession {
    width: 39% !important;
  }
}

@media screen and (max-width: 950px) {
  .professionsSection {
    h1 {
      font-size: 2rem !important;
    }
  }

  .profession {
    width: 80% !important;
    h4 {
      font-size: 1.2rem !important;
    }
  }
}
