.about {
  padding-top: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-pic {
    // position: relative;
    width: 100%;
    img {
      border-radius: 100%;
      background-color: white;
      position: absolute;
      top: -100%;
      animation-timing-function: ease-in-out;
    }

    .pic1 {
      width: 18rem;
      left: 75%;
      animation: slideDown1 4s forwards;
    }

    .pic2 {
      width: 10rem;
      left: 59%;
      animation: slideDown2 2s forwards;
    }

    .pic3 {
      width: 15rem;
      left: 10%;
      animation: slideDown3 3s forwards;
    }

    .pic4 {
      width: 20rem;
      left: 43%;
      transform: translateX(-50%);
      animation: slideDown4 7s forwards;
    }
  }

  &-main {
    max-width: 1500px;
    position: relative;
    z-index: 1;
    margin: 5rem 0;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(19, 19, 50) solid 4px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    h1 {
      background-color: rgb(19, 19, 50);
      width: 100%;
      text-align: center;
      color: white;
      text-align: center;
      padding: 1.8rem;
      letter-spacing: 0.2rem;
      font-weight: 100 !important;
    }
    span {
      padding: 2rem;
      font-size: 1.25rem;
      line-height: 2rem;
      color: rgb(19, 19, 50);
    }
  }
}

@keyframes slideDown1 {
  0% {
    top: -100%;
  }
  100% {
    top: 19%;
  }
}

@keyframes slideDown2 {
  0% {
    top: -100%;
  }
  100% {
    top: 18%;
  }
}

@keyframes slideDown3 {
  0% {
    top: -100%;
  }
  100% {
    top: 22%;
  }
}

@keyframes slideDown4 {
  0% {
    top: -100%;
  }
  100% {
    top: 17%;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    padding-top: 80vh !important;
  }
  .pic1 {
    width: 12rem !important;
    left: 75%;
    animation: slideDown1 4s forwards;
  }

  .pic2 {
    width: 10rem;
    left: 55% !important;
    animation: slideDown2 6s forwards;
  }

  .pic3 {
    width: 12rem !important;
    left: 1% !important;
    animation: slideDown3 5s forwards;
  }

  .pic4 {
    width: 14rem !important;
    left: 40% !important;
    transform: translateX(-50%);
    animation: slideDown4 7s forwards;
  }
  @keyframes slideDown1 {
    0% {
      top: -100%;
    }
    100% {
      top: 15%;
    }
  }

  @keyframes slideDown2 {
    0% {
      top: -100%;
    }
    100% {
      top: 20%;
    }
  }

  @keyframes slideDown3 {
    0% {
      top: -100%;
    }
    100% {
      top: 18%;
    }
  }

  @keyframes slideDown4 {
    0% {
      top: -100%;
    }
    100% {
      top: 16%;
    }
  }
}

@media screen and (max-width: 800px) {
  .about-main {
    h1 {
      font-size: 1.9rem !important;
    }
  }
  .pic1 {
    width: 12rem !important;
    left: 65% !important;
    animation: slideDown1 4s forwards;
  }

  .pic2 {
    width: 10rem;
    left: 40% !important;
    animation: slideDown2 6s forwards;
  }

  .pic3 {
    width: 15rem;
    left: 1% !important;
    animation: slideDown3 5s forwards;
  }

  .pic4 {
    width: 14rem !important;
    left: 45% !important;
    transform: translateX(-50%);
    animation: slideDown4 7s forwards;
  }
  @keyframes slideDown1 {
    0% {
      top: -100%;
    }
    100% {
      top: 12%;
    }
  }

  @keyframes slideDown2 {
    0% {
      top: -100%;
    }
    100% {
      top: 7%;
    }
  }

  @keyframes slideDown3 {
    0% {
      top: -100%;
    }
    100% {
      top: 8%;
    }
  }

  @keyframes slideDown4 {
    0% {
      top: -100%;
    }
    100% {
      top: 13%;
    }
  }
}

@media screen and (max-width: 550px) {
  .about {
    padding-top: 500px !important;
    background-color: white;
  }
  .about-main {
    margin: 0rem 0.1rem 3rem 0.1rem;
    h1 {
      font-size: 1.9rem !important;
      animation: aboutHead 4s forwards;
    }
    span {
      font-size: 1.2rem !important;
      padding: 1rem;
      animation: aboutSpan 2s forwards;
    }
  }
  .pic1 {
    width: 7rem !important;
    left: 65% !important;
    animation: slideDown1 5s forwards !important;
  }

  .pic2 {
    width: 8rem !important;
    left: 45% !important;
    animation: slideDown2 3s forwards !important;
  }

  .pic3 {
    width: 8rem !important;
    left: 5% !important;
    animation: slideDown3 4s forwards !important;
  }

  .pic4 {
    width: 11rem !important;
    left: 40% !important;
    transform: translateX(-50%);
    animation: slideDown4 2s forwards !important;
  }
  @keyframes aboutSpan {
    from {
      opacity: 0;
      transform: translate3d(60%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0%, 0);
    }
  }

  @keyframes aboutHead {
    from {
      opacity: 0;
      transform: translate3d(-60%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0%, 0);
    }
  }

  @keyframes slideDown1 {
    0% {
      top: -100%;
    }
    100% {
      top: 7.5%;
    }
  }

  @keyframes slideDown2 {
    0% {
      top: -100%;
    }
    100% {
      top: 4%;
    }
  }

  @keyframes slideDown3 {
    0% {
      top: -100%;
    }
    100% {
      top: 4%;
    }
  }

  @keyframes slideDown4 {
    0% {
      top: -100%;
    }
    100% {
      top: 8%;
    }
  }
}