@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Armenian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Armenian:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  z-index: 1;
  height: 100%;
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  background: url('../src/assets/pictures/image1.jpeg') no-repeat center center fixed;
  background-size: 40%;
  opacity: 0.4;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  #root::before {
    content: '';
    position: fixed; /* Change to fixed for better mobile support */
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: url('../src/assets/pictures/image1.jpeg') no-repeat center center !important;
    background-attachment: fixed; /* Ensure the image is fixed */
    background-size: 90% !important; /* Cover the entire area */
    opacity: 0.4; /* Adjust this value to set the desired opacity */
    z-index: -1;
  }
}
